<div class="card-group">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Resistor</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam incidunt sit repellendus quaerat reiciendis nesciunt, cumque veniam animi culpa tenetur nemo, aut consectetur ullam magnam debitis neque ea labore error.</p>
        <p class="card-text"><small class="text-muted">Hola Mundo</small></p>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Capacitor</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste mollitia porro vel incidunt libero nobis, omnis, nemo autem sed ratione dolorem eaque aliquam delectus? Deserunt esse maiores veritatis placeat consequuntur.</p>
        <p class="card-text"><small class="text-muted">Hola Mundo</small></p>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Diodo Led</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, cum in voluptates unde, provident id fugiat sequi beatae quidem recusandae nesciunt velit, quos ipsum tempore perferendis minima nisi deleniti. Modi.</p>
        <p class="card-text"><small class="text-muted">Hola Mundo</small></p>
      </div>
    </div>
  </div>